<div>
  <h3><%= question %></h3>
</div>

<%= form_with url: game_attempts_path(@game), method: :post, html: { "data-turbo" => false } do |f| %>
  <%= f.label :name, "Your answer" %>
  <%= f.text_field :answer %>
  <%= f.submit "Check answer" %>
<% end %>

<p><%= message %></p>

<%= form_with url: games_path, method: :post, html: { "data-turbo" => false } do |f| %>
  <%= f.submit "generate question" %>
  <% end %>
